[submodule "alsa-config"]
	path = alsa-config
	url = https://github.com/JeffyCN/mirrors
	branch = alsa-config
[submodule "camera_engine_rkisp"]
	path = camera_engine_rkisp
	url = https://github.com/jeffyCN/mirrors
	branch = camera_engine_rkisp
[submodule "gstreamer-rockchip"]
	path = gstreamer-rockchip
	url = https://github.com/jeffyCN/mirrors
	branch = gstreamer-rockchip
[submodule "libmali"]
	path = libmali
	url = https://github.com/jeffyCN/mirrors
	branch = libmali
[submodule "linux-rga"]
	path = linux-rga
	url = https://github.com/jeffyCN/mirrors
	branch = linux-rga
